

.grid-container{
    margin: 0 auto;
    
    background-color: rgba(0, 5, 150, 0.6);
    padding: 20px;
    display: grid;
    grid-template-columns: 0.5fr 2fr ;
    column-gap: 2rem;
    row-gap: 0.3rem;
   
    
   
}



.grid-container h1{
    grid-row: 1;
    justify-self: left;
    grid-column: 2;
    margin: 14px 0;
    color: #FFF;
    
    
}

.title a{
    font-weight: 400;
    font-size: 24px;
   
}
.moreinfo{
    grid-column: 2;
    grid-row: 2;
    color: #FFF;
}

.moreinfo ul{
    display: flex;
    flex-direction: row;
    
    flex-wrap: nowrap;
}
.moreinfo-lista li{
    margin-left: 25px;
    
}

.moreinfo-lista h4{
    font-size: 12px;
    
    padding: 0px 4px;
    border: 1px solid white;
    border-radius: 2px;
    margin-right: 5px;
}


.img-film {
    
    
    

    grid-column-start: 1;
    grid-column-end: 1;
    

}
.area-buttons{
    
    margin: 0 auto;
    grid-row: 7;
    grid-column: 1;
    
}

.area-buttons button{
    background-color: rgb(38, 38, 199);
    font-size: 0.8rem;
    margin-right: 0.5rem;
    padding: 1rem;
    border-radius: 1rem ;
    border: 0;
    color: #FFF;
    cursor: pointer;
    outline: none;
    font-weight: 600;
   
}
.area-buttons button:hover{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition:ease-in-out all 3s;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: rgb(70, 70, 70);
}
.area-buttons a{
    color: #FFF;
}
.area-buttons a:hover{
    color: rgb(70, 70, 70);
}
.grid-container .img-film {
    grid-row-start: 1;
    grid-row-end: 7;
    width: 350px;
    
   
}

.grid-container .img-film img{
    border-radius: 8px;
    max-width: 100%;
    box-shadow: rgba(46, 53, 240, 0.4) 5px 5px, rgba(46, 91, 240, 0.3) 10px 10px, rgba(46, 104, 240, 0.2) 15px 15px, rgba(75, 46, 240, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    
    
    
}

.grid-container h3{
    
  
    color: #FFF;
    grid-row: 3;
    grid-column: 2;
    
}

.grid-container span{
    
    padding: 4px;
    
  

    color: #FFF;

    
    grid-column: 2;
    
    
    grid-row: 4;
    
}

.avaliacao-box {
    grid-column: 2;
    grid-row-start: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 10em;
    color: #FFF;
}
.avaliacao{
    padding: 5px 30px;
    text-align: center;
    user-select: none;
    cursor:pointer
   
}

.avaliacao:hover {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    
}
.avaliacao-item img{
    
    width: 15px;
    height: 15px;
    margin-right: 9px; 
    
}


.avaliacao p{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.trailer-box{
    justify-self: center;
    grid-column: 2;
}

.trailer-box iframe{
    
    width:40vw;
    height:20vw;
    
}

@media(max-width:1000px){
    
    .avaliacao-item img{
    

        margin: 0px;
    }
    .grid-container .img-film {
        width: 190px;
        margin-top: 20px;
    }

    .grid-container {
    
        display: grid;
        grid-template-columns: 0.5fr 2fr ;
        column-gap: 2rem;
        row-gap: 0.3rem;
        
    
    }
    
}



.filme-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
}

.filme-info h1{
    font-size: 4vh;
}

.filme-info a{
    text-decoration: none;
    background-color: #eb1111;
    color: #fff;
    padding: 10px;
    margin-top: 14px;
    border-radius: 8px; 
}